* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
    background-color: #000;
    color: #fff;
    overflow-x: hidden;
  }
  
  .search-bar-container {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .search-bar {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 25px;
    display: flex;
    align-items: center;
    padding: 12px;
    width: 80%;
    max-width: 700px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
  }
  
  .search-bar input {
    width: 70%;
    padding: 8px;
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 16px;
    margin-left: 10px;
    border-radius: 5px;
  }
  
  .search-icon {
    font-size: 20px;
  }
  
  .city-selector {
    display: flex;
    align-items: center;
    margin-left: 15px;
  }
  
  .city-selector span {
    color: #fff;
    font-size: 18px;
    margin-right: 10px;
  }
  
  .change-city {
    padding: 5px 15px;
    background-color: #fff;
    color: #000;
    font-size: 14px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
  }
  
  .change-city:hover {
    background-color: #f1f1f1;
  }
  
  @media (max-width: 768px) {
    .search-bar-container {
      padding: 15px;
    }
  
    .search-bar {
      width: 100%;
      padding: 10px;
    }
  
    .search-bar input {
      width: 65%;
      font-size: 14px;
    }
  
    .city-selector span {
      font-size: 14px;
    }
  
    .change-city {
      font-size: 12px;
    }
  }
  
  @media (max-width: 480px) {
    .search-bar {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .search-bar input {
      width: 100%;
      margin-top: 10px;
    }
  
    .city-selector {
      margin-top: 10px;
    }
  
    .change-city {
      font-size: 12px;
      padding: 5px 12px;
    }
  }
  